# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore logs
logs/
*.log

# Ignore dependencies
package-lock.json
yarn.lock

# Ignore build files
dist/
build/

# Ignore IDE files
.vscode/
.idea/
.DS_Store
